<!DOCTYPE html>
<html>
<head>
  <title>Entrepreneur Platform</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
     <ul style="display: flex; list-style-type: none; padding: 0;margin-right: 10px;">
      <li><a href="/">Home</a></li>
      <li><a href="/experts">Expert Advice</a></li>
      <li><a href="/case-studies">Case Studies</a></li>
      <li><a href="/economic-help">Economic Help</a></li>
      <li><a href="/hiring">Hiring</a></li>
      <li><a href="/gov-schemes">Government Schemes</a></li>
    </ul>
  </nav>