<footer>
    <div class="f-info">
        <div class="f-info socials">

        </div>
        <div>StartUpSpark</div>
       <div class="f-infolinks"></div>
       <a href="privacy">privacy</a>
       <a terms="/terms">terms</a>

    </div>
</footer>